*{
	margin:0 0;
}

body{
	width:90%;
	margin:0 auto;
}

p.box{
	border:1px dashed black;
}

p{
	margin-top: 10px;
}

a{
	font-weight:bold;
	text-decoration:none;
	color:orange;	
}

a:hover{
	color:#cc6623;
}

div#footer{
	margin-top:10px;
	border-top:1px solid #CCC;
	height:75px;
}

div#footer p.left{
	float:left;
}

div#footer p.right{
	float:right;
}
